{% extends 'admin/base.html' %}
{% block body %}
{% if current_user.is_authenticated %}
<h3>CHAO MUNG {{ current_user.name }}</h3>
<div class="row">
    <div class="container col-md-5">
        <h4>Thống kê thể loại</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên Thể loại</th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody>
            {% for x in info %}
            <tr>
                <td>{{ x[0] }}</td>
                <td>{{ x[1] }}</td>
                <td>{{ x[2] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container col">
        <canvas id="myChart"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script>
  let data = [], labels=[], color = [];

  {% for s in info %}
    data.push({{ s[2] }})
    labels.push('{{ s[1] }}')

    r = Math.random()*255
    g = Math.random()*255
    b = Math.random()*255

    color.push(`rgba(${r},${g},${b},0.7)`)
  {% endfor %}

  window.onload = function() {
    drawCateStats(labels, data, color)
  }
</script>
{% else %}
<div class="container" style="margin-top:50px;">
    <h5>ĐĂNG NHẬP QUẢN TRỊ</h5>
    {% if err_msg and i==2 %}
    <div>
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ err_msg }}</strong>
        </div>
    </div>
    {% endif %}
    <form method="post" action="{{ url_for('dangnhap') }}">
        <div class="form-group">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" class="form-control" placeholder="Nhập tên đăng nhập..." id="username"
                   name="username" required>
        </div>
        <div class="form-group">
            <label for="passw">Password:</label>
            <input type="password" class="form-control" placeholder="Nhập password..." id="passw" name="passw" required>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <input type="submit" value="Đăng nhập" class="btn btn-dark">
    </form>
</div>
{% endif %}
{% endblock %}