{% extends 'layout/base.html' %}
{% block title %}Đăng ký{% endblock %}
{% block body %}
<div class="container" style="margin-top:50px;">
    <h5>ĐĂNG KÝ TÀI KHOẢN</h5>
    {% if err_msg %}
    <div>
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ err_msg }} !! Hãy thử lại</strong>
        </div>
    </div>
    {% endif %}
    <form method="post" action="{{ url_for('dangky') }}"
    enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Tên</label>
                    <input type="text" class="form-control" placeholder="Nhập tên..." id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" placeholder="Nhập email..." id="email" name="email"
                           required>
                </div>
                <div class="form-group">
                    <label for="passw">Password:</label>
                    <input type="password" class="form-control" placeholder="Nhập password..." id="passw" name="passw"
                           required>
                </div>
                <div class="form-group form-check">
                    <label for="avatar">Ảnh đại điện</label>
                    <input type="file" class="form-control" id="avatar" name="avatar"
                           required>
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="username">Tên đăng ký:</label>
                    <input type="text" class="form-control" placeholder="Nhập tên đăng ký..." id="username"
                           name="username" required>
                </div>
                <div class="form-group">
                    <label for="sodt">Số điện thoại:</label>
                    <input type="text" class="form-control" placeholder="Nhập số điện thoại..." id="sodt" name="sodt"
                           required>
                </div>
                <div class="form-group">
                    <label for="repass">Nhập lại password: </label>
                    <input type="password" class="form-control" placeholder="Nhập lại password..." id="repass"
                           name="repass" required>
                </div>
            </div>
        </div>
        <input type="submit" value="Đăng ký" class="btn btn-dark">
    </form>
</div>
{% endblock %}