{% extends 'layout/base.html' %}
{% block title %}Giỏ hàng{% endblock %}
{% block body %}
<h4>Giỏ Hàng</h4>
{% if 'cart' in session and session['cart'] %}
<div class="container">
    <table class="table">
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
        </tr>
        {% for x in session['cart'].values() %}
        <tr id="sanpham{{ x.id }}">
            <td>{{ x.id }}</td>
            <td>
                {{ x.name }}
            </td>
            <td>{{ x.gia }}</td>
            <td>
                <div class="form-group">
                    <input type="number" min="1" onblur="up_hang({{ x.id }}, this)" value="{{ x.so_luong }}" class="form-control" />
                </div>
            </td>
            <td>
                <input type="button" value="Xóa" class="btn btn-danger" onclick="xoa_hang({{ x.id }})">
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="alert alert-info">
        <h5>Tổng sản phẩm: <span class="gio">{{ cart_stats.total_quantity }}</span></h5>
        <h5>Tổng tiền: <span id="tong-tien">{{ "{:,.0f}".format(cart_stats.total_amount) }}</span> VNĐ</h5>
    </div>
    {% if current_user.is_authenticated %}
    <input type="button" value="Thanh toán" class="btn btn-success" onclick="pay()">
    {% else %}
    <a href="{{ url_for('dangnhap', next='gio_hang') }}">Đăng nhập </a> hoặc <a href="{{ url_for('dangky', next='gio_hang') }}">Đăng ký</a> để thanh toán!!
    {% endif %}
    <br><br>
    {% else %}
    <p><i>Giỏ hàng đã được thanh toán hoặc chưa thêm sản phẩm!</i></p>
    {% endif %}
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}